In [1]:
import pandas as pd
import numpy as np

data_path = '/Users/onurcan/Documents/GDG_HATAY/Dataset.xlsx'
df = pd.read_excel(data_path)
print('Dosya yüklendi:', data_path)
print('Şekil:', df.shape)

Dosya yüklendi: /Users/onurcan/Documents/GDG_HATAY/Dataset.xlsx
Şekil: (1838, 5)

In [3]:
display(df.head())
print('Bilgi:')
df.info()
print('Tanımsal istatistikler:')
display(df.describe())

                    zaman  AşınmaOranı  Kesme Gücü  İlerleme Hızı     RPM
0 2025-01-01 08:00:01.000          1.9        15.4          136.0  1223.0
1 2025-01-01 08:00:02.000          4.4         2.1           14.0  1020.0
2 2025-01-01 08:00:03.005          1.2        16.9          138.0  1245.0
3 2025-01-01 08:00:04.010          6.3         7.3           53.0  1130.0
4 2025-01-01 08:00:05.015          5.3         7.7           60.8  1127.0

Bilgi:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1838 entries, 0 to 1837
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   zaman          1838 non-null   datetime64[ns]
 1   AşınmaOranı    1838 non-null   float64
 2   Kesme Gücü     1838 non-null   float64
 3   İlerleme Hızı  1838 non-null   float64
 4   RPM            1838 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 71.9 KB
Tanımsal istatistikler:

,zaman,AşınmaOranı,Kesme Gücü,İlerleme Hızı,RPM
count,1838,1838.000000,1838.000000,1838.000000,1838.000000
mean,2025-01-01 08:15:24.087502592,3.145996,11.237378,91.401523,1166.129489
min,2025-01-01 08:00:01,0.000000,0.000000,4.000000,107.000000
25%,2025-01-01 08:07:42.541249792,1.100000,5.100000,45.000000,1105.000000
50%,2025-01-01 08:15:24.087500032,2.400000,13.400000,117.000000,1200.000000
75%,2025-01-01 08:23:05.633750016,4.800000,16.800000,131.000000,1220.000000
max,2025-01-01 08:30:47.180000,16.700000,20.000000,182.000000,1295.000000
std,NaN,2.621034,6.255216,46.377524,71.448788